section.team#team
    img.team__background.col.m-0.p-0(src!="<?php bloginfo('template_url');?>/img/team/background.webp", alt="alt")
    h2.team__title.text_title.text_line.col-lg-4.p-0 Наша команда
    .w-100
    .row.justify-content-between#team__item
        .team__worker.col-lg-3
            picture
                source(type="image/webp" srcset!="<?php bloginfo('template_url');?>/img/team/face1.webp")
                source(type="image/jpeg" srcset!="<?php bloginfo('template_url');?>/img/team/face1.jpg")
                img.team__img(src!="<?php bloginfo('template_url');?>/img/team/face1.webp", alt="alt")
            .team__info
                span.text_half-bold.text_fs-m Иванов Иван Иванович
                p.text_main Начальник производства <br> телефон <br> email
        .team__worker.col-lg-3
            picture
                source(type="image/webp" srcset!="<?php bloginfo('template_url');?>/img/team/face2.webp")
                source(type="image/jpeg" srcset!="<?php bloginfo('template_url');?>/img/team/face2.jpg")
                img.team__img.team_img-center(src!="<?php bloginfo('template_url');?>/img/team/face2.webp", alt="alt")
            .team__info
                span.text_half-bold.text_fs-m Иванов Иван Иванович
                p.text_main Начальник производства <br> телефон  <br> email
        .team__worker.col-lg-3
            picture
                source(type="image/webp" srcset!="<?php bloginfo('template_url');?>/img/team/face3.webp")
                source(type="image/jpeg" srcset!="<?php bloginfo('template_url');?>/img/team/face3.jpg")
                img.team__img(src!="<?php bloginfo('template_url');?>/img/team/face3.webp", alt="alt")
            .team__info
                span.text_half-bold.text_fs-m Иванов Иван Иванович
                p.text_main Начальник производства  <br>  телефон <br> email
