section.team.row
    img.team__background.col(src="../../../img/team/background.jpg", alt="alt")
    h2.team__title.text_title.text_line.col-lg-4 Наша команда
    .w-100
    .team__worker.col-lg-3
        img.team__img(src="../../../img/team/face1.jpg", alt="alt")
        .team__info
            span.text_half-bold Иванов Иван Иванович
            p.text_main Начальник производства <br> телефон <br> email
    .team__worker.col-lg-3
        img.team__img.team_img-center(src="../../../img/team/face2.jpg", alt="alt")
        .team__info
            span.text_half-bold Иванов Иван Иванович
            p.text_main Начальник производства <br> телефон  <br> email
    .team__worker.col-lg-3
        img.team__img(src="../../../img/team/face3.jpg", alt="alt")
        .team__info
            span.text_half-bold Иванов Иван Иванович
            p.text_main Начальник производства  <br>  телефон <br> email
