$accent: #ffc107;  //rgba(255, 193, 7, 1)
$background: #ffffff;
$border-inversion: #ffffff;
$border-secondary: #c4c4c4;
$link-inversion: #ffffff;
$link-accent: #ffc107;
$background-inversion: #212121;
$text: #212121;
$text-inversion: #ffffff;
$text-opacity: #757575;

