
//- input.checkbox.form__checkbox(type='checkbox' value='')
//- label.text_main.text_mini.label_whithe Согласие на обработку персональных данных
//- .invalid-feedback.text_mini Пожалуйста, согласитесь пред отправкой


.control-group
  label.control.control-checkbox.text_main.text_mini.label_whithe
    | Согласие на обработку персональных данных
    input(type='checkbox' required).control_indicator
    .control_indicator
