.owl-carousel.slider-hover
    .slider-hover__info
        img.slider-hover__img(src="./img/slider-img/IMG_2865.webp", alt="alt")
        a.fresco(href="./img/slider-img/IMG_2865.webp" data-fresco-group="make")
            svg.slider-hover__zoom(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M24 0V9.59766H21.5977V4.10156L4.10156 21.5977H9.59766V24H0V14.4023H2.40234V19.8984L19.8984 2.40234H14.4023V0H24Z', fill='black')
        .slider-hover__text
            h4.text_main.text_half-bold Это заголовок
            p.text_main.text_mini Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ea assumenda debitis sapiente dolorum enim corrupti et?
    .slider-hover__info
        img.slider-hover__img(src="./img/slider-img/IMG_2756.webp", alt="alt")
        a.fresco(href="./img/slider-img/IMG_2756.webp" data-fresco-group="make")
            svg.slider-hover__zoom(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M24 0V9.59766H21.5977V4.10156L4.10156 21.5977H9.59766V24H0V14.4023H2.40234V19.8984L19.8984 2.40234H14.4023V0H24Z', fill='black')
        .slider-hover__text
            h4.text_main.text_half-bold Это заголовок
            p.text_main.text_mini Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ea assumenda debitis sapiente dolorum enim corrupti et?
    .slider-hover__info
        img.slider-hover__img(src="./img/slider-img/IMG_2777.webp", alt="alt")
        a.fresco(href="./img/slider-img/IMG_2777.webp" data-fresco-group="make")
            svg.slider-hover__zoom(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M24 0V9.59766H21.5977V4.10156L4.10156 21.5977H9.59766V24H0V14.4023H2.40234V19.8984L19.8984 2.40234H14.4023V0H24Z', fill='black')
            .slider-hover__text
            h4.text_main.text_half-bold Это заголовок
            p.text_main.text_mini Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ea assumenda debitis sapiente dolorum enim corrupti et?
    //- .slider-hover__info
        img.slider-hover__img(src="./img/slider-img/IMG_2889.webp", alt="alt")
        a.fresco(href="./img/slider-img/IMG_2865.webp" data-fresco-group="make")
            svg.slider-hover__zoom(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M24 0V9.59766H21.5977V4.10156L4.10156 21.5977H9.59766V24H0V14.4023H2.40234V19.8984L19.8984 2.40234H14.4023V0H24Z', fill='black')
    .slider-hover__text
        h4.text_main.text_half-bold Это заголовок
        p.text_main.text_mini Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ea assumenda debitis sapiente dolorum enim corrupti et?


