.owl-carousel.slider-hover
    .slider-hover__info
        img.slider-hover__img(src="./img/slider-img/IMG_2865.jpg", alt="alt")
        .slider-hover__text
            h4.text_main.text_half-bold Это заголовок
            p.text_main.text_mini Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ea assumenda debitis sapiente dolorum enim corrupti et?
    .slider-hover__info
        img.slider-hover__img(src="./img/slider-img/IMG_2756.jpg", alt="alt")
        .slider-hover__text
            h4.text_main.text_half-bold Это заголовок
            p.text_main.text_mini Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ea assumenda debitis sapiente dolorum enim corrupti et?
    .slider-hover__info
        img.slider-hover__img(src="./img/slider-img/IMG_2777.jpg", alt="alt")
        .slider-hover__text
            h4.text_main.text_half-bold Это заголовок
            p.text_main.text_mini Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ea assumenda debitis sapiente dolorum enim corrupti et?