.header {
    position: fixed;
    z-index: 1030;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-wrap: nowrap;
    & p {
        margin-left: 16px;
    }
    &_move {
        // background-color: $background-inversion;
        // color: $text-inversion;
        background: rgba($background, 1);
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
    }
    &__logo {
        margin-left: 30px;
        @media screen and (max-width: 420px)  {
            margin-left: 15px;
            width: 56px;
        }
    }
    &__nav {
        top: 50px;
        right: 50px;
    }
    &__text-logo {
        margin-left: 5%;
        @media screen and (max-width: 420px)  {
            font-size: rem(25);
            margin-left: 15%;
        }
    }
    &_text {
        line-height: 50px !important;
    }
    &__link:hover {
        text-decoration: none;
    }
    &__phone {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-left: 5%;
        @media screen and (max-width: 1400px)  {
            margin-left: 3%;
        }
        @media screen and (max-width: 990px)  {
            margin-left: 7%;
        }
        p {
            @media screen and (max-width: 710px)  {
                display: none;
            }
        }
        @media screen and (max-width: 490px)  {
            display: none;
        }
        
    }
    &__email {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-left: 30%;
            @media screen and (max-width: 1400px)  {
                margin-left: 5%;
            }
            @media screen and (max-width: 990px)  {
                display: none;
            }

        }
    &__icon {
        width: 50px;
        height: 50px;
        background: $accent;
        border-radius: 50%;
        &-phone {
            padding-left: 13px;
            padding-top: 13px;
        }
        &-email {
            padding-left: 11px;
            padding-top: 15px;
        }
    }
    }

.logo {
    display: flex;
    &__img {
        width: 50px;
        height: 50px;
    }
}

.header__phone a{
    // text-decoration: none;
    color: $background-inversion;
}

.header__email a{
    // text-decoration: none;
    color: $background-inversion;
}