header.header.row
    .logo.header__logo.col-lg-4
        img.logo__img(src="../img/header/logo.png", alt="логотип")
        span.header__text ПРОИНТЕХ
    p.email.header__email.col-md-3
        span.email Email:
        br
        span.email.header__email prointex@bk.ru
    p.phone.header__phone.col-lg-3
        span Телефон:
        br
        span.header__phone  +7 499 268-26-50
    nav.nav.header__nav
        .nav__icon
