header.header#header.row.header_move
        .logo.header__logo
            img.logo__img(src="../img/header/logo.png", alt="логотип")
            span.header_text.text_logo.text_inversion Проинтех
        .header__email.offset-0.col-lg-6
            p.text_main.text_half-bold.text_inversion.header_text prointex@bk.ru
        .header__phone.col-lg-6
            p.text_main.text_half-bold.text_inversion.header_text +7 499 268-26-50
        .header__menu
            include ../../components/menu/menu.pug
