header.header
        .header__row.row
            .header__logo.header__logo_top.col-md-6
                img.header__img(src="../img/header/logo.png", alt="логотип")
                span.header__text ПРОИНТЕХ
            p.header__email.col-md-3 
                span Email:
                br 
                span.header__email_normal.col-md-3 prointex@bk.ru
            p.header__phone 
                span Телефон: 
                br
                span.header__phone_normal  +7 499 268-26-50
            .header__icon