header.header.row
    .logo.header__logo
        img.logo__img(src="../img/header/logo.png", alt="логотип")
        span.header__text.text_logo Проинтех
    ul.col-lg-3.offset-6
        li.email.text_main.text_mini Email:
        li.email.text_main.text_bold prointex@bk.ru
    ul.header__phone.text_main.col-lg-3
        li.email.text_main.text_mini Телефон:
        li.email.text_main.text_bold +7 499 268-26-50
    nav.nav.header__nav
        .nav__icon
