header.header#header.row
        a.header__link.menu__main(href="#main")
            .logo.header__logo
                img.logo__img(src!="<?php bloginfo('template_url');?>/img/header/logo.png", alt="логотип")
                span.header_text.text_logo.header__text-logo Проинтех
        .header__email
            .header__icon
                a(href="mailto:prointex@bk.ru") 
                    img.header__icon-email(src!="<?php bloginfo('template_url');?>/img/header/email.png", alt="почта")
            a.text_main.header__text(href="mailto:prointex@bk.ru") prointex@bk.ru
        .header__phone
            .header__icon
                a(href="tel:+74992682650")
                    img.header__icon-phone(src!="<?php bloginfo('template_url');?>/img/header/phone.png", alt="телефон")
            a.text_main.header__text(href="tel:+74992682650") +7 499 268-26-50
        .header__menu
            include ../../components/menu/menu.pug
