header.header#header.row
        .logo.header__logo
            img.logo__img(src="../img/header/logo.png", alt="логотип")
            span.header__text.text_logo Проинтех
        ul.header__email.offset-6.col-lg-3
            li.text_main.text_mini Email:
            li.email.text_main.text_half-bold prointex@bk.ru
        ul.header__phone.text_main.col-lg-3
            li.email.text_main.text_mini Телефон:
            li.email.text_main.text_half-bold +7 499 268-26-50
        include ../../components/menu/menu.pug
        //- nav.nav.header__nav
        //-     .nav__icon
