section.examples#examples.row
    h2.examples__title.text_title.text_sub.col-xl-6 Галерея работ
    .w-100
    .col-xl-6.examples_big#examples-10
    .col-xl-6.examples_big#examples-11
    .col-xl-6.examples_big#examples-12
            //- .examples__info-4.examples__info_smale
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit      
    