.owl-carousel.slider-img
    img.slider__img(src="../../../img/slider-img/IMG_2865.webp", alt="alt")
    img.slider__img(src="../../../img/slider-img/IMG_2756.webp", alt="alt")
    img.slider__img(src="../../../img/slider-img/IMG_2777.webp", alt="alt")
    img.slider__img(src="../../../img/slider-img/IMG_2889.webp", alt="alt")
.slider-img__nav-container
    .slider-img__icon
        img.slider-img__svg(src="../../../img/advantages/Arrow.svg", alt="alt")


