.slider {
    &__icon {
        width: 70px;
        height: 70px;
        background-color: $accent;
    }
    &__svg {
        display: block;
        margin: auto;
        padding-top: 18px;
    }

}

.nav-container {
    position: absolute;
    z-index: 1;
    right: 45px;
    bottom: 30px;
    width: 70px;
    height: 70px;
}

.owl-next {
    border: none;
    padding: 0;
}
.owl-prev {
    display: none;
    padding: 0;
}