.col-lg-6.slider.advantages__slider
    .owl-carousel.slider-img
        img.slider__img(src="../../../img/slider-img/IMG_2865.webp", alt="alt")
        img.slider__img(src="../../../img/slider-img/IMG_2756.webp", alt="alt")
        img.slider__img(src="../../../img/slider-img/IMG_2777.webp", alt="alt")
        img.slider__img(src="../../../img/slider-img/IMG_2889.webp", alt="alt")
    .nav-container
        //- .slider__icon.advantages__slider-icon
        //-     img.slider__svg(src="../../../img/advantages/Arrow.svg", alt="alt")


