.popup-fade.popup-fade-secces
    .alert-message-send.modalDialog
        p.alert-message-send__message.text_main.text_accent.text_half-bold СПАСИБО, <br> мы свяжемся с Вами в ближайшее время
        include ../../components/close-modal/close-modal.pug
