.menu__button
    .hamburger.hamburger1
        span.bar.bar1
        span.bar.bar2
        span.bar.bar3
        span.bar.bar4


.menu.text_main.text_mini
  nav
    ul
      li
        a(href='#contacts') Почему выбирают нас?
      li
        a(href='#') Как мы работаем?
      li
        a(href='#') Примеры работ
      li
        a(href='#') Обсудим Ваш проект?
      li
        a(href='#') О нас
      li
        a(href='#') Контакты

