.menu
  .menu__button.button-send_shadow
      .hamburger.hamburger1
          span.bar.bar1
          span.bar.bar2
          span.bar.bar3
          span.bar.bar4


  .menu__nav.text_main.text_mini
    nav
      ul
        li
          a(href='#advantages') Почему выбирают нас?
        li
          a(href='#stages') Как мы работаем?
        li
          a(href='#examples') Примеры работ
        li
          a(href='#form') Обсудим Ваш проект?
        li
          a(href='#about') О нас
        li
          a(href='#contacts') Контакты

