.menu
  #menu__button.menu__button.button-send_shadow
      .hamburger.hamburger1
          span.bar.bar1
          span.bar.bar2
          span.bar.bar3
          span.bar.bar4


  .menu__nav.text_main.text_half-bold.text_mini
    nav
      ul
        li.menu__advantages
          a(href='#advantages') Почему выбирают нас?
        li.menu__molds
          a(href='#molds') Что мы производим?
        li.menu__examples
          a(href='#examples') Примеры работ
        li.menu__stages
          a(href='#stages') Как мы работаем?
        li.menu__make
          a(href='#make') Наше производство
        li.menu__about
          a(href='#about') О нас
        li.menu__form
          a(href='#form') Обсудим Ваш проект?
        li.menu__contacts
          a(href='#contacts') Контакты

