section.partners#partners.row
    h2.text_title.text_line.col-lg-12.partners__title Сотрудничество
    .partners__text.text_main.col.col-lg-6 С 2015 года компания Проинтех является эксклюзивным партнером немецкого производителя пресс-форм Werkzeugbau Ruhla GmbH на территории РФ. <br>  Компания производит ремонт и профилактику пресс-форм немецкого производителя. <br> Долгое знакомство и дружба позволяют консультироваться с техническими специалистами Werkzeugbau Ruhla GmbH, что позволяет использовать новейшие технологические решения в производстве пресс-форм, знакомится с немецкими производителями сопутствующих товаров ( ГКС, Механизмы выкручивания и др.) 
        a.text_link(href="http://ruhla-gmbh.de/" ref="nofollow") http://ruhla-gmbh.de/
    .partners__slider-wrapper.col-md-6.col-lg-6
        .owl-carousel.partners__slider
            img.partners__slider(src!="<?php bloginfo('template_url');?>/img/partners/сертификат.jpg", alt="сертификат")
            img.partners__slider(src!="<?php bloginfo('template_url');?>/img/partners/IMG1.jpg", alt="наши партнеры")
            img.partners__slider(src!="<?php bloginfo('template_url');?>/img/partners/IMG2.jpg", alt="немецкие партнеры")
            img.partners__slider(src!="<?php bloginfo('template_url');?>/img/partners/IMG3.jpg", alt="сотрудничество")
        //- .partners__slider__nav-container
        //-     .partners__slider__icon
        //-         img.partners__slider__svg(src!="<?php bloginfo('template_url');?>/img/advantages/Arrow.svg", alt="alt")

    .partners__ruhla.row

        video.col.col-sm-4(src!="<?php bloginfo('template_url');?>/video/ruhla.mp4" controls poster="https://prointechnology.ru/wp-content/themes/prointex/img/partners/ruhla-video.jpg")
        .partners__ruhla-desc.col.col-sm-8
            p.text_title.text_sub Новый проект наших друзей из Германии Werkzeugbau Ruhla GmbH
            p.text_main Одноразовый трехкомпонентный шприц инъекционный объёмом 0,5 мл. с само разрушающимся штоком и иглой.  Проект из 4-х горячекональных пресс-форм по 64 гнезда.