#map
//img.b-lazy(data-src!="<?php bloginfo('template_url');?>/img/belka.webp" alt="" src!="<?php bloginfo('template_url');?>/img/load.png")//img.b-lazy(data-src!="<?php bloginfo('template_url');?>/img/belka.webp" alt="" src!="<?php bloginfo('template_url');?>/img/load.png")
