.numbers.row
    .numbers__item.col-lg-3
        span.text_title.text_numbers 10
        p.numbers_text.text_title.text_mini лет опыта <br> работы <br> в направлении
    .numbers__item.col-lg-3
        span.text_title.text_numbers 100
        p.numbers_text.text_title.text_mini едениц <br> продукции <br> в неделю
    .numbers__item.col-lg-3
        span.text_title.text_numbers 50
        p.numbers_text.text_title.text_mini собственных <br> разработок
    .numbers__item.col-lg-3
        span.text_title.text_numbers 7
        P.numbers_text.text_title.text_mini едениц <br> продукции <br> в день