.numbers#numbers.row
    .numbers__background
    .numbers__item.col-lg-3
        //- добавляем знак больше или меньше
        //- //- span.numbers__more.text_title.text_numbers > 
        //- //- span.numbers__more.js-count-1.text_title.text_numbers
        span.js-count-1.text_title.text_numbers.js-count
        p.numbers_text.text_title.text_bold.text_fs-m год опыта <br> работы <br> в производстве
    .numbers__item.col-lg-3
        span.js-count-2.text_title.text_numbers.js-count
        p.numbers_text.text_title.text_bold.text_fs-m часов <br> фрезерной обработки <br> в месяц
    .numbers__item.col-lg-3
        span.js-count-3.text_title.text_numbers.js-count
        p.numbers_text.text_title.text_bold.text_fs-m часов <br> электроэрозии <br> в месяц
    .numbers__item.col-lg-3
        span.js-count-4.text_title.text_numbers.js-count
        P.numbers_text.text_title.text_bold.text_fs-m пресс-форм <br> выпущено <br> за год