.numbers {
    @media screen and (max-width: 992px){
        display: none;
    }
    color: $accent;
    height: 350px;
    padding-top: 79px;
    &__item {
        margin-top: 35px;
        & > span {
            display: block;
            margin-right: -13px;
        }
    }
    &__item {
        text-align: end;
    }
    &_text {
        margin-top: -17px;
    }
    &__background {
        position: absolute;
        height: 350px;
        left: 0;
        width: 100%;
        background-color: $background-inversion;
        background-image: url(./img/numbers/line.webp);
        background-repeat: no-repeat;
        @media screen and (max-width: 1520px){
            background-image: none;
        }
}
    &__more {
        display: inline !important;
    }
}