.numbers#numbers.row
    .numbers__background
    .numbers__item.col-lg-3
        span.js-count-1.text_title.text_numbers
        p.numbers_text.text_title.text_bold лет опыта <br> работы <br> в направлении
    .numbers__item.col-lg-3
        span.js-count-2.text_title.text_numbers
        p.numbers_text.text_title.text_bold едениц <br> продукции <br> в неделю
    .numbers__item.col-lg-3
        span.js-count-3.text_title.text_numbers
        p.numbers_text.text_title.text_bold собственных <br> разработок
    .numbers__item.col-lg-3
        span.js-count-4.text_title.text_numbers
        P.numbers_text.text_title.text_bold едениц <br> продукции <br> в день