#nav-dot
  ul.nav-dot
    li
      span.nav_dot__title-1.js-sl_lt.text_main.text_mini Главная
      a.n_1(href='#advantages')
    li
      span.nav_dot__title-2.js-sl_lt.text_main.text_mini Преимущества
      a.n_2(href='#advantages')
    li
      span.nav_dot__title-3.js-sl_lt.text_main.text_mini Примеры работ
      a.n_3(href='#examples')
    li
      span.nav_dot__title-4.js-sl_lt.text_main.text_mini Этапы производства
      a.n_4(href='#stages')
    li
      span.nav_dot__title-5.js-sl_lt.text_main.text_mini О компнании
      a.n_5(href='#about')
    li
      span.nav_dot__title-6.js-sl_lt.text_main.text_mini Отзывы
      a.n_6(href='#review')
    li
      span.nav_dot__title-7.js-sl_lt.text_main.text_mini Оставить заявку
      a.n_7(href='#contacts')
    li
      span.nav_dot__title-8.js-sl_lt.text_main.text_mini Контакты
      a.n_8(href='#contacts')
