#nav-dot
  ul.nav-dot
    li.li_1
      span.nav_dot__title-1.js-sl_lt.text_main.text_mini Почему выбирают нас?
      a.n_1(href='#advantages')
    li.li_2
      span.nav_dot__title-2.js-sl_lt.text_main.text_mini Что мы производим?
      a.n_2(href='#molds')
    li.li_3
      span.nav_dot__title-3.js-sl_lt.text_main.text_mini Как мы работаем?
      a.n_3(href='#stages')
    li.li_4
      span.nav_dot__title-4.js-sl_lt.text_main.text_mini Наше производство
      a.n_4(href='#make')
    li.li_5
      span.nav_dot__title-5.js-sl_lt.text_main.text_mini О компании
      a.n_5(href='#about')
    li.li_6
      span.nav_dot__title-6.js-sl_lt.text_main.text_mini Обсудим Ваш проект?
      a.n_6(href='#form')
    li.li_7
      span.nav_dot__title-7.js-sl_lt.text_main.text_mini Контакты
      a.n_7(href='#contacts')
    //- li.n_1
    //-   span.nav_dot__title-8.js-sl_lt.text_main.text_mini Контакты
    //-   a(href='#contacts')
