sections.client#client.row
    .client__logo.col-lg
        img(src="./img/client/client1.webp", alt="alt")
    .client__logo.col-lg
        img(src="./img/client/client2.webp", alt="alt")
    .client__logo.col-lg
        img(src="./img/client/client3.webp", alt="alt")
    .client__logo.col-lg
        img(src="./img/client/client4.webp", alt="alt")
    .client__logo.col-lg
        img(src="./img/client/client5.webp", alt="alt")