sections.client.row
    .client__logo
        img(src="../../../img/client/client1.jpg", alt="alt")
    .client__logo
        img(src="../../../img/client/client2.jpg", alt="alt")
    .client__logo
        img(src="../../../img/client/client3.jpg", alt="alt")
    .client__logo
        img(src="../../../img/client/client4.jpg", alt="alt")
    .client__logo
        img(src="../../../img/client/client5.jpg", alt="alt")