sections.client#client
    h2.client__title.text_title.text_line.col-lg-4.review__title Нам <br> доверяют
    .row.client__slider.owl-carousel.owl-theme
        .client__logo.col
            p.text_main Lorem, ipsum dolor.
                img(src!="<?php bloginfo('template_url');?>/img/client/client1.webp", alt="alt")
            p.text_main Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt praesentium sapiente 
        .client__logo.col
            p.text_main Lorem, ipsum dolor.
                img(src!="<?php bloginfo('template_url');?>/img/client/client2.webp", alt="alt")
            p.text_main Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore quae harum facere et.
        .client__logo.col
            p.text_main Lorem, ipsum dolor.
                img(src!="<?php bloginfo('template_url');?>/img/client/client3.webp", alt="alt")
            p.text_main Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt praesentium sapiente 
        .client__logo.col
            p.text_main Lorem, ipsum dolor.
                img(src!="<?php bloginfo('template_url');?>/img/client/client4.webp", alt="alt")
            p.text_main Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt praesentium sapiente 
        .client__logo.col
            p.text_main Lorem, ipsum dolor.
                img(src!="<?php bloginfo('template_url');?>/img/client/client5.webp", alt="alt")
            p.text_main Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt praesentium sapiente 