#sync1.owl-carousel.slider-mini
    a(href="../../../img/slider-img/IMG_2865.webp" data-fresco-group="unique_name").fresco
        .item
            img(src="../../../img/slider-img/IMG_2865.webp", alt="alt")
    a(href="../../../img/slider-img/IMG_2756.webp" data-fresco-group="unique_name").fresco
        .item
            img(src="../../../img/slider-img/IMG_2756.webp", alt="alt")
    .item
        img(src="../../../img/slider-img/IMG_2777.webp", alt="alt")
    .item
        img(src="../../../img/slider-img/IMG_2889.webp", alt="alt")
    .item
        img(src="../../../img/slider-img/IMG_2865.webp", alt="alt")
    .item
        img(src="../../../img/slider-img/IMG_2756.webp", alt="alt")
    .item
        img(src="../../../img/slider-img/IMG_2777.webp", alt="alt")
    .item
        img(src="../../../img/slider-img/IMG_2889.webp", alt="alt")
#sync2.owl-carousel.owl-theme.slider-mini.molds__slider-mini
    .item
        img.slider-mini__img(src="../../../img/slider-img/IMG_2865.webp", alt="alt")
    .item
        img.slider-mini__img(src="../../../img/slider-img/IMG_2756.webp", alt="alt")
    .item
        img.slider-mini__img(src="../../../img/slider-img/IMG_2777.webp", alt="alt")
    .item
        img.slider-mini__img(src="../../../img/slider-img/IMG_2889.webp", alt="alt")
    .item
        img.slider-mini__img(src="../../../img/slider-img/IMG_2865.webp", alt="alt")
    .item
        img.slider-mini__img(src="../../../img/slider-img/IMG_2756.webp", alt="alt")
    .item
        img.slider-mini__img(src="../../../img/slider-img/IMG_2777.webp", alt="alt")
    .item
        img.slider-mini__img(src="../../../img/slider-img/IMG_2889.webp", alt="alt")

