#sync1.owl-carousel.slider-mini
    .item.foto-1
        .item-img.img-form1.img-active.mold-1
            picture
                source(type="image/webp" srcset!="<?php bloginfo('template_url');?>/img/molds/example/1.webp")
                source(type="image/jpeg" srcset!="<?php bloginfo('template_url');?>/img/molds/example/1.jpg")
                img(src!="<?php bloginfo('template_url');?>/img/molds/example/1.webp", alt="alt")
        .item-img.img-form2.mold-2
            picture
                source(type="image/webp" srcset!="<?php bloginfo('template_url');?>/img/molds/example/2.webp")
                source(type="image/jpeg" srcset!="<?php bloginfo('template_url');?>/img/molds/example/2.jpg")
                img(src!="<?php bloginfo('template_url');?>/img/molds/example/2.webp", alt="alt")
    .item.foto-2
        .item-img.img-form1.img-active.mold-1
            picture
                source(type="image/webp" srcset!="<?php bloginfo('template_url');?>/img/molds/example/1.webp")
                source(type="image/jpeg" srcset!="<?php bloginfo('template_url');?>/img/molds/example/1.jpg")
                img(src!="<?php bloginfo('template_url');?>/img/molds/example/1.webp", alt="alt")
        .item-img.img-form2.mold-2
            picture
                source(type="image/webp" srcset!="<?php bloginfo('template_url');?>/img/molds/example/2.webp")
                source(type="image/jpeg" srcset!="<?php bloginfo('template_url');?>/img/molds/example/2.jpg")
                img(src!="<?php bloginfo('template_url');?>/img/molds/example/2.webp", alt="alt")
    .item.foto-3
        .item-img.img-form1.img-active.mold-1
            picture
                source(type="image/webp" srcset!="<?php bloginfo('template_url');?>/img/molds/example/1.webp")
                source(type="image/jpeg" srcset!="<?php bloginfo('template_url');?>/img/molds/example/1.jpg")
                img(src!="<?php bloginfo('template_url');?>/img/molds/example/1.webp", alt="alt")
        .item-img.img-form2.mold-2
            picture
                source(type="image/webp" srcset!="<?php bloginfo('template_url');?>/img/molds/example/2.webp")
                source(type="image/jpeg" srcset!="<?php bloginfo('template_url');?>/img/molds/example/2.jpg")
                img(src!="<?php bloginfo('template_url');?>/img/molds/example/2.webp", alt="alt")


#sync2.owl-carousel.owl-theme.slider-mini
    .item
        picture
                source(type="image/webp" srcset!="<?php bloginfo('template_url');?>/img/molds/example/1.webp")
                source(type="image/jpeg" srcset!="<?php bloginfo('template_url');?>/img/molds/example/1.jpg")
                img.img-form1.img-active.slider-mini__img(src!="<?php bloginfo('template_url');?>/img/molds/example/1.webp", alt="alt")
        picture
                source(type="image/webp" srcset!="<?php bloginfo('template_url');?>/img/molds/example/2.webp")
                source(type="image/jpeg" srcset!="<?php bloginfo('template_url');?>/img/molds/example/2.jpg")
                img.img-form2.slider-mini__img(src!="<?php bloginfo('template_url');?>/img/molds/example/2.webp", alt="alt")
    .item
        picture
                source(type="image/webp" srcset!="<?php bloginfo('template_url');?>/img/molds/example/1.webp")
                source(type="image/jpeg" srcset!="<?php bloginfo('template_url');?>/img/molds/example/1.jpg")
                img.img-form1.img-active.slider-mini__img(src!="<?php bloginfo('template_url');?>/img/molds/example/1.webp", alt="alt")
        picture
                source(type="image/webp" srcset!="<?php bloginfo('template_url');?>/img/molds/example/2.webp")
                source(type="image/jpeg" srcset!="<?php bloginfo('template_url');?>/img/molds/example/2.jpg")
                img.img-form2.slider-mini__img(src!="<?php bloginfo('template_url');?>/img/molds/example/2.webp", alt="alt")
    .item
        picture
                source(type="image/webp" srcset!="<?php bloginfo('template_url');?>/img/molds/example/1.webp")
                source(type="image/jpeg" srcset!="<?php bloginfo('template_url');?>/img/molds/example/1.jpg")
                img.img-form1.img-active.slider-mini__img(src!="<?php bloginfo('template_url');?>/img/molds/example/1.webp", alt="alt")
        picture
                source(type="image/webp" srcset!="<?php bloginfo('template_url');?>/img/molds/example/2.webp")
                source(type="image/jpeg" srcset!="<?php bloginfo('template_url');?>/img/molds/example/2.jpg")
                img.img-form2.slider-mini__img(src!="<?php bloginfo('template_url');?>/img/molds/example/2.webp", alt="alt")
    //- .item
    //-     img.img-form1.img-active.slider-mini__img(src="./img/slider-img/IMG_2889.webp", alt="alt")
    //-     img.img-form2.slider-mini__img(src="./img/slider-img/IMG_2889.webp", alt="alt")
