#sync1.owl-carousel.slider-mini
    .item
        .item-img.img-form1.img-active
            a(href="./img/slider-img/IMG_2865.webp" data-fresco-group="form1").fresco
                img(src="./img/slider-img/IMG_2865.webp", alt="alt")
        .item-img.img-form2
            a(href="./img/slider-img/IMG_2756.webp" data-fresco-group="unique_name").fresco
                img(src="./img/slider-img/IMG_2756.webp", alt="alt")
    .item
        .item-img.img-form1.img-active
            a(href="./img/slider-img/IMG_2756.webp" data-fresco-group="form1").fresco
                img(src="./img/slider-img/IMG_2756.webp", alt="alt")
        .item-img.img-form2
            a(href="./img/slider-img/IMG_2865.webp" data-fresco-group="unique_name").fresco
                img(src="./img/slider-img/IMG_2865.webp", alt="alt")
    .item
        .item-img.img-form1.img-active
            a(href="./img/slider-img/IMG_2777.webp" data-fresco-group="form1").fresco
                img(src="./img/slider-img/IMG_2777.webp", alt="alt")
        .item-img.img-form2
            a(href="./img/slider-img/IMG_2777.webp" data-fresco-group="unique_name").fresco
                img(src="./img/slider-img/IMG_2777.webp", alt="alt")
    .item
        .item-img.img-form1.img-active
            a(href="./img/slider-img/IMG_2889.webp" data-fresco-group="form1").fresco
                img(src="./img/slider-img/IMG_2889.webp", alt="alt")
        .item-img.img-form2
            a(href="./img/slider-img/IMG_2889.webp" data-fresco-group="unique_name").fresco
                img(src="./img/slider-img/IMG_2889.webp", alt="alt")

#sync2.owl-carousel.owl-theme.slider-mini
    .item
        img.img-form1.img-active.slider-mini__img(src="./img/slider-img/IMG_2865.webp", alt="alt")
        img.img-form2.slider-mini__img(src="./img/slider-img/IMG_2756.webp", alt="alt")
    .item
        img.img-form1.img-active.slider-mini__img(src="./img/slider-img/IMG_2756.webp", alt="alt")
        img.img-form2.slider-mini__img(src="./img/slider-img/IMG_2865.webp", alt="alt")
    .item
        img.img-form1.img-active.slider-mini__img(src="./img/slider-img/IMG_2777.webp", alt="alt")
        img.img-form2.slider-mini__img(src="./img/slider-img/IMG_2777.webp", alt="alt")
    .item
        img.img-form1.img-active.slider-mini__img(src="./img/slider-img/IMG_2889.webp", alt="alt")
        img.img-form2.slider-mini__img(src="./img/slider-img/IMG_2889.webp", alt="alt")

