#sync1.owl-carousel.slider-mini
    .item.foto-1
        .item-img.img-form1.img-active.mold-1
            img(src!="<?php bloginfo('template_url');?>/img/molds/example/1.webp", alt="alt")
        .item-img.img-form2.mold-2
            img(src!="<?php bloginfo('template_url');?>/img/molds/example/2.webp", alt="alt")
    .item.foto-2
        .item-img.img-form1.img-active.mold-1
            img(src!="<?php bloginfo('template_url');?>/img/molds/example/1.webp", alt="alt")
        .item-img.img-form2.mold-2
            img(src!="<?php bloginfo('template_url');?>/img/molds/example/2.webp", alt="alt")
    .item.foto-3
        .item-img.img-form1.img-active.mold-1
            img(src!="<?php bloginfo('template_url');?>/img/molds/example/1.webp", alt="alt")
        .item-img.img-form2.mold-2
            img(src!="<?php bloginfo('template_url');?>/img/molds/example/2.webp", alt="alt")


#sync2.owl-carousel.owl-theme.slider-mini
    .item
        img.img-form1.img-active.slider-mini__img(src!="<?php bloginfo('template_url');?>/img/molds/example/1.webp", alt="alt")
        img.img-form2.slider-mini__img(src!="<?php bloginfo('template_url');?>/img/molds/example/2.webp", alt="alt")
    .item
        img.img-form1.img-active.slider-mini__img(src!="<?php bloginfo('template_url');?>/img/molds/example/1.webp", alt="alt")
        img.img-form2.slider-mini__img(src!="<?php bloginfo('template_url');?>/img/molds/example/2.webp", alt="alt")
    .item
        img.img-form1.img-active.slider-mini__img(src!="<?php bloginfo('template_url');?>/img/molds/example/1.webp", alt="alt")
        img.img-form2.slider-mini__img(src!="<?php bloginfo('template_url');?>/img/molds/example/2.webp", alt="alt")
    //- .item
    //-     img.img-form1.img-active.slider-mini__img(src="./img/slider-img/IMG_2889.webp", alt="alt")
    //-     img.img-form2.slider-mini__img(src="./img/slider-img/IMG_2889.webp", alt="alt")

