section.about#about.row
    h2.text_title.text_line.col О компании
    .w-100
    .about__photo.col-lg-4
        img(src!="<?php bloginfo('template_url');?>/img/about/boss.jpg", alt="Генеральный директор ООО Принтех")
    .about__content.offset-1.col-lg-7
        p.about__post.text_main Высокая производительность и точность проделанной работы, постоянное улучшение количественных и, конечно, качественных показателей – этим характеризуется коллектив нашей компании. Новейшие разработки, связанные с литьем пластмасс и изготовлением инструментального производства, активно используются в процессе нашей работы. Каждая пресс-форма, изготовленная в наших цехах, является высококачественным продуктом. Если Вам необходимо качественное изделие, рассчитанное на длительный срок эксплуатации, отсутствие брака и гарантированное качество – приглашаем вас к сотрудничеству!
        p.about__sign.text_half-bold.text_fs-m Генеральный директор Натальчук С. А.