.contacts {
    padding-top: 160px;
    @media screen and (max-width: 991px)  {
        padding-top: 80px;
        }
    &__info {
        width: 310px;
        margin: auto;
        @media screen and (max-width: 991px)  {
        margin: 0;
        // height: 940px;
        }
        margin-top: 13%;
    }
    &__map {
        @media screen and (max-width: 991px)  {
            height: 370px;
            padding-bottom: 40px;
            }
        margin-top: 18px;
        height: 670px;
        padding-bottom: 80px;
    }
    &__frame {
        margin: 22px 0;
        padding-right: 30px;
        // align-self: center;
    }
    &__text {
        padding-left: 30px;
    }
}

#map {
    width: 100%;
    height: 100%;
    @media screen and (max-width: 991px)  {
        // width: 50%;
        // height: 50%;
        }
}

.tab input,
.tab-content {
    margin-top: 2%;
    margin-bottom: 2%;
    display: none;
}
.tab {
    display: block;
    // border: 1px dashed $accent; /* Параметры рамки */
    color: #000;
    margin-bottom: 10px; /* Расстояние между пунктами */
}
.tab-title {
    padding: 10px; /* Поля вокруг текста */
    display: block; /* Блочный элемент */
    text-transform: uppercase; /* Все буквы заглавные */
    font-weight: bold; /* Жирное начертание */
    cursor: pointer; /* Вид курсора */
    // border-bottom: solid 1px $accent;
}
.tab-title::after {
    content: url(./img/molds/ChevronRightSmall.png); /* Выводим плюс */
    float: right; /* Размещаем по правому краю */
}

.tab :checked + .tab-title {
    background-color: $accent; /* Цвет фона */
    color: #000; /* Цвет текста */
    // box-shadow: 0 0 10px rgba(255, 193, 7, 0.5);
}
.tab :checked + .tab-title::after {
    transform: rotate(180deg);
    // content: "−"; /* Выводим минус */
}
.tab :checked ~ .tab-content {
    display: flex; /* Показываем содержимое */
}

.tab-content .bus {
    margin-left: 10px;
    // background: $accent;
    // border-radius: 10px;
    padding: 3px;
}

.tab-content ul {
    padding: 15px 0;
}
.tab label {
    height: 50px;
    padding: 0 15px;
    line-height: 50px;
    margin-top: 7px;
}