section.review#review.row
    img.review__background(src="../../../img/review/background.png", alt="alt")
    h2.text_title.text_line.col-lg-4 Нам доверяют
    .w-100
    .owl-carousel.slider-review.owl-theme
        .review__row.row
            .review__img.col-lg-1
                img.review__icon.review__icon_left(src="../../../img/review/left.jpg", alt="alt")
            p.review__text.text_main.col-lg-8 Комплекс металлообрабатывающих работ - фрезерные, шлифовальные, электроэрозионные проволочные и прошивные операции. Слесарные работы и сборка пресс-формы.
            .review__img.col-lg-1
                img.review__icon.review__icon_right(src="../../../img/review/right.jpg", alt="alt")
            .w-100
            p.review__post.text_half-bold.offset-2.col-lg-4 Директор ООО “Спецмет”
            p.review__name.text_half-bold.offset-2.col-lg-4 Смирнов И.И.
        .review__row.row
            .review__img.col-lg-1
                img.review__icon.review__icon_left(src="../../../img/review/left.jpg", alt="alt")
            p.review__text.text_main.col-lg-8 Комплекс металлообрабатывающих работ - фрезерные, шлифовальные, электроэрозионные проволочные и прошивные операции. Слесарные работы и сборка пресс-формы.
            .review__img.col-lg-1
                img.review__icon.review__icon_right(src="../../../img/review/right.jpg", alt="alt")
            .w-100
            p.review__post.text_half-bold.offset-2.col-lg-4 Директор ООО “Спецмет”
            p.review__name.text_half-bold.offset-2.col-lg-4 Смирнов И.И.
        .review__row.row
            .review__img.col-lg-1
                img.review__icon.review__icon_left(src="../../../img/review/left.jpg", alt="alt")
            p.review__text.text_main.col-lg-8 Комплекс металлообрабатывающих работ - фрезерные, шлифовальные, электроэрозионные проволочные и прошивные операции. Слесарные работы и сборка пресс-формы.
            .review__img.col-lg-1
                img.review__icon.review__icon_right(src="../../../img/review/right.jpg", alt="alt")
            .w-100
            p.review__post.text_half-bold.offset-2.col-lg-4 Директор ООО “Спецмет”
            p.review__name.text_half-bold.offset-2.col-lg-4 Смирнов И.И.
        .review__row.row
            .review__img.col-lg-1
                img.review__icon.review__icon_left(src="../../../img/review/left.jpg", alt="alt")
            p.review__text.text_main.col-lg-8 Комплекс металлообрабатывающих работ - фрезерные, шлифовальные, электроэрозионные проволочные и прошивные операции. Слесарные работы и сборка пресс-формы.
            .review__img.col-lg-1
                img.review__icon.review__icon_right(src="../../../img/review/right.jpg", alt="alt")
            .w-100
            p.review__post.text_half-bold.offset-2.col-lg-4 Директор ООО “Спецмет”
            p.review__name.text_half-bold.offset-2.col-lg-4 Смирнов И.И.
        .review__row.row
            .review__img.col-lg-1
                img.review__icon.review__icon_left(src="../../../img/review/left.jpg", alt="alt")
            p.review__text.text_main.col-lg-8 Комплекс металлообрабатывающих работ - фрезерные, шлифовальные, электроэрозионные проволочные и прошивные операции. Слесарные работы и сборка пресс-формы.
            .review__img.col-lg-1
                img.review__icon.review__icon_right(src="../../../img/review/right.jpg", alt="alt")
            .w-100
            p.review__post.text_half-bold.offset-2.col-lg-4 Директор ООО “Спецмет”
            p.review__name.text_half-bold.offset-2.col-lg-4 Смирнов И.И.