div .slider-mini .fotorama__thumb-border {
    border-color: $accent;
    border-width: 10px;
    width: 160px !important;
    height: 150px;
}

.fotorama__nav-wrap {
    margin-top: 30px;
}

.fotorama__thumb .fotorama__loaded .fotorama__loaded--img {
    // padding-left: 30px;
}

.fotorama__nav__shaft > .fotorama__nav__frame :not(:first-child){
    padding-left: 30px !important;
}

