.molds {
    padding-top: 110px;
    &__slider-mini, &__info {
        padding-top: 84px;
    }
    &__btn-view > img {
        position: absolute;
        top: 26px;
        right: 22px;
    }
    &__name, &__feature {
        margin-top: 29px;
    }
    &__button-send {
        margin-top: 35px;
    }
    &__list-item {
        border-bottom: solid $border-secondary 1px;
    }
    &__view > ul {
        display: block;
        position: absolute;
        // padding-left: 5%;
    }
    &__view li {
        display: block-inline;
        height: 50px;
        line-height: 50px;
        background-color: $background;
        padding-left: 4%;
        width: 570px;
    }
    &__btn-view {
        width: 100%;
    }
}

