section.molds.row
    h2.text_title.text_line.col-lg-5 Виды пресс-форм
    .w-100
    .molds__slider-mini.col-lg-6
        include ../../components/slider-mini/slider-mini.pug
    .molds__info.col-lg-6
        button.molds__btn-view.button-send.button-send_shadow.col Выберите тип
            img(src='img/molds/ChevronRightSmall.png' alt='')
        h3.molds__name.text_title.text_bold Пресс-форма с вывинчиванием резьбовых знаков
        p.molds__description.text_main Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor quis consectetur nulla aliquam sapien adipiscing molestie. Quam nulla lorem in ligula vivamus habitant massa. Massa at eget gravida turpis semper. Lectus dictum elementum sit suspendisse consequat aenean nunc, tortor tincidunt. Dolor montes, molestie ultricies quis nunc ipsum, nulla dolor.
        h4.molds__feature.text_title.text_bold Характеристики
        ul.molds__list.text_main
            li.molds__list-item Габариты
            li.molds__list-item Количество отливок за цикл
            li.molds__list-item Способ съема отливки
            li.molds__list-item Максимальное количество циклов
        button.molds__button-send.button-send.button-send_shadow.col Оставить заявку





    //- .dropdown
    //-     button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
    //-      | Dropdown button
    //-     .dropdown-menu(aria-labelledby='dropdownMenuButton')
    //-         a.dropdown-item(href='#') Action
    //-         a.dropdown-item(href='#') Another action
    //-         a.dropdown-item(href='#') Something else here