section#molds.molds.row
    h2.text_title.text_line.col-lg-5 Типы <br> пресс-форм
    .w-100
    select#molds-view.col
        option(value="form1") Пресс-форма 1
        option(value="form2") Пресс-форма 2
    .molds__slider-mini#molds__slider-mini.col-lg-6
        include ../../components/slider-mini/slider-mini.pug
    .molds__info.col-lg-6.m-0.row
        .groups-data.row
            .mold1.data-form1.active1.col
                h3.molds__name.text_title.text_bold.text_fs-m Пресс-форма с вывинчиванием резьбовых знаков
                p.molds__description.text_main Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor quis consectetur nulla aliquam sapien adipiscing molestie. Quam nulla lorem in ligula vivamus habitant massa. Massa at eget gravida turpis semper. Lectus. molestie.
                .molds__feature
                    h4.molds__feature.text_title.text_bold.text_fs-m Характеристики
                    ul.molds__list.text_main
                        li.molds__list-item Габариты
                        li.molds__list-item Количество отливок за цикл
                        li.molds__list-item Способ съема отливки
                        li.molds__list-item Максимальное количество циклов
            .mold2.data-form2.col
                h3.molds__name.text_title.text_bold.text_fs-m Горячеканальная
                p.molds__description.text_main Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor quis consectetur nulla aliquam sapien adipiscing molestie. Quam nulla lorem in ligula vivamus habitant massa. Massa at eget gravida turpis semper. Lectus. molestie.
                .molds__feature
                    h4.molds__feature-title.text_title.text_bold.text_fs-m Характеристики
                    ul.molds__list.text_main
                        li.molds__list-item Габариты
                        li.molds__list-item Количество отливок за цикл
                        li.molds__list-item Способ съема отливки
                        li.molds__list-item Максимальное количество циклов
        button.button-send__modal.molds__button-send.button-send.button-send_shadow.col Оставить заявку

//- .tabs
//-   input#tab1(type='radio' name='tabs' checked='')
//-   label(for='tab1' title='Вкладка 1')  1
//-   input#tab2(type='radio' name='tabs')
//-   label(for='tab2' title='Вкладка 2')  2
//-   input#tab3(type='radio' name='tabs')
//-   label(for='tab3' title='Вкладка 3')  3
//-   input#tab4(type='radio' name='tabs')
//-   label(for='tab4' title='Вкладка 4')  4
//-   section#content-tab1
//-     p
//-   section#content-tab2
//-     p
//-   section#content-tab3
//-     p
//-   section#content-tab4
//-     p
