
$select-color: $background-inversion;
$select-width: 100%;
$select-height: 70px; 
$select-background: $accent;
.molds {
    padding-top: 100px;
    &__slider-mini, &__info {
        padding-top: 30px;
    }
    &__btn-view > img {
        position: absolute;
        top: 26px;
        right: 22px;
    }
    &__info {
      align-content: space-between;
    }
    &__feature {
      margin-top: 29px;
    }
    &__button-send {
        margin-bottom: 10px;
    }
    &__list-item {
        border-bottom: solid $border-secondary 1px;
    }
    &__btn-view {
        width: 100%;
    }
    &__button-send {
      margin-top: 30px;
    }
}

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: $select-width;
    height: $select-height;
    background-clip: content-box;
    margin-top: 80px;
    margin-left: 15px;
    margin-right: 15px;

  }
  .select-styled {
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $accent;
    padding: 14px 15px;
    padding-right: 40px;
    text-align: center;
    transition: all 0.2s ease-in;
    &:after {
      content: url(./img/molds/ChevronRightSmall.png);
      position: absolute;
      top: 16px;
      right: 20px;
     @media screen and (max-width: 420px)  {
      transform: scale(0.5);
      top: 25px;
      right: 15px;
  }
}
    &:hover {
        box-shadow: 0 0 10px rgba(255, 193, 7, 0.5);
    }
    &:active, &.active {
    //   background-color: darken($accent, 5);
        box-shadow: 0 0 10px rgba(255, 193, 7, 0.5);
      &:after {
        transform: rotate(180deg);
        @media screen and (max-width: 420px)  {
          transform: rotate(180deg) scale(0.5);
          top: 20px;
      }
      }
    }
  }
  
  .select-options {
    display: none; 
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: darken($select-background, 0);
    li {
      margin: 0;
      padding: 12px 0;
      text-indent: 15px;
    //   border-top: 1px solid darken($select-background, 10);
      border-top: 1px solid rgba($background-inversion, 0.1);
      transition: all 0.15s ease-in;
      &:hover {
        color: $select-background;
        background: $select-color;
      }
      &[rel="hide"] {
        display: none;
      }
    }
  }
  .groups-data > div {
    display: none;
  }
  .groups-data > div.active1 {
    display: block;
  }