extends layouts/default
include helpers/mixins

block variables
    - const title = "Изготовление пресс-форм для литья пластмасс под давлением"

block content
    include ../blocks/modules/header/header.pug
    include ../blocks/modules/nav-dot/nav-dot.pug
    include ../blocks/modules/main/main.pug
    include ../blocks/modules/advantages/advantages.pug
    include ../blocks/modules/numbers/numbers.pug
    include ../blocks/modules/examples/examples.pug
    include ../blocks/modules/request/request.pug
    include ../blocks/modules/stages/stages.pug
    include ../blocks/modules/about/about.pug
    include ../blocks/modules/team/team.pug
    include ../blocks/modules/review/review.pug
    include ../blocks/modules/client/client.pug
    include ../blocks/modules/form/form.pug
    include ../blocks/modules/contacts/contacts.pug
    include ../blocks/modules/footer/footer.pug

block scripts
    script(src="../js/vendor.js")
    script(src="../js/main.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzepC77rzIAjEVqeiCpjm__5fP0MeF6-4&callback=initMap" async defer)
