extends layouts/default
include helpers/mixins

block variables
    - const title = "Изготовление пресс-форм для литья пластмасс"

block content
        include ../blocks/components/load/load.pug
        .container-1200px
            include ../blocks/modules/header/header.pug
            //- include ../blocks/modules/nav-dot/nav-dot.pug
            include ../blocks/modules/main/main.pug
            include ../blocks/modules/service/service.pug
            include ../blocks/modules/numbers/numbers.pug
            include ../blocks/modules/advantages/advantages.pug
            include ../blocks/modules/partners/partners.pug
            //include ../blocks/modules/molds/molds.pug
            include ../blocks/modules/stages/stages.pug
            include ../blocks/modules/examples/examples.pug
            include ../blocks/modules/request/request.pug
            include ../blocks/modules/make/make.pug
            include ../blocks/modules/about/about.pug
            //- include ../blocks/modules/team/team.pug
            //- include ../blocks/modules/review/review.pug
            //- include ../blocks/modules/client/client.pug
            include ../blocks/modules/form/form.pug
            include ../blocks/modules/contacts/contacts.pug
            include ../blocks/modules/footer/footer.pug
            include ../blocks/components/alert-message-send/alert-message-send.pug
block scripts
    <?php wp_footer(); ?>