section.main#main.row
    h1.text_title.main__title.col-xl-9  Изготовление пресс-форм <br> для литья пластмасс <br> под давлением
    button.button-send__modal.main__button-send.button-send.button-send_shadow Оставить заявку
    .main__background
        img(src!="<?php bloginfo('template_url');?>/img/main/main.png", alt="alt")
    a.menu__main(href = '#main')
        span.main__arrow-up        
