section.main#main.row
    .col-xl-7
        h1.text_title.main__title <?php the_field('header');?>
        button.button-send__modal.main__button-send.button-send.button-send_shadow Оставить заявку
    .col-xl-1
    .main__img-wrapper.col-xl-4
        .main__img
            .main__background
                 picture
                     source(type="image/webp" srcset!="<?php bloginfo('template_url');?>/img/main/main.webp")
                     source(type="image/jpeg" srcset!="<?php bloginfo('template_url');?>/img/main/main.png")
                     img(src!="<?php bloginfo('template_url');?>/img/main/main.png", alt="пресс-форма")
    //- Изготовление пресс-форм <br> для литья пластмасс <br> под давлением

    a.menu__main(href = '#main')
        span.main__arrow-up
