section.main#main.row
    h1.text_title.main__title.col-lg-9  Изготовление пресс-форм <br> для литья пластмасс <br> под давлением
    button.main__button-send.button-send.button-send_shadow Оставить заявку
    .main__background 
        img(src="../img/main/main.webp", alt="alt")
