.main {
    padding-top: 249px;
    @media screen and (max-width: 990px)  {
        padding-top: 150px;
    }
    h1 {
        @media screen and (max-width: 990px)  {
            text-align: center;
        }
    }
    &__title {
    }
    &__button-send {
        width: 370px;
        height: 74px;
        margin-top: 32px;
        margin-left: 15px;
        @media screen and (max-width: 990px)  {
            margin: 32px auto;
            width: 290px;
        }
    }
    &__background {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
    }
}
.text {
    &_title {
        font-family: Kontora-Bold, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.11em;
        line-height: 1.6;
        font-size: rem(46);
        @media screen and (max-width: 992px) {
            font-size: rem(48);
        }
        @media screen and (max-width: 500px) {
            font-size: rem(22);
        }
    }
    &_line::after {
        content: url(../img/advantages/line.png);
        position: absolute;
        bottom: 12px;
    }
    &_sub {
        font-size: rem(36);
        @media screen and (max-width: 992px) {
            font-size: rem(36);
        }
        @media screen and (max-width: 500px) {
                font-size: rem(18);
        }
    }
    &_number {
        color: #8f8f8f;
        font-size: rem(96);
    }
    &_numbers {
        font-size: rem(96);
    }
    &_main {
        font-family: Kontora-Thin, sans-serif;
        font-size: rem(24);
        line-height: 160%;
        letter-spacing: 0.05em;
        color: $text;
        @media screen and (max-width: 992px) {
            font-size: rem(18);
        }
        @media screen and (max-width: 400px) {
            font-size: rem(14);
        }
    }
    &_logo {
        font-family: Kontora-Bold, sans-serif;
        font-size: rem(36);
        color: $text;
        text-transform: uppercase;
    }
    &_mini {
        font-size: rem(18);
    }
    &_accent {
        color: $accent;
    }
    &_bold {
        font-family: Kontora-bold, sans-serif;
        // font-size: rem(24);
    }
    &_half-bold {
        font-family: Kontora, sans-serif;
        // font-size: rem(24);
    }
    &_fs-m {
        font-size: rem(24);
        @media screen and (max-width: 992px) {
            font-size: rem(18);
        }
        @media screen and (max-width: 400px) {
            font-size: rem(18);
        }
    }
    &_uppercase {
        text-transform: uppercase;
    }
    &_accent {
        color: $accent;
    }
    &_inversion {
        color: $text-inversion;
    }
    &_link {
        color: $accent;
        &:hover {
        color: $accent;
        }
    }
    }


.button-send {
    font-size: rem(24);
    @media screen and (max-width: 992px)  {
        font-size: rem(18);
    }
    background: $accent;
    border: none;
    outline: none;
    font-family: Kontora-Bold, sans-serif;
    color: $text;
    text-transform: uppercase;
    letter-spacing: 0.085em;
    height: 70px;
    &_big {
        width: 570px;
        height: 50px;
    }
    &_shadow:hover {
        box-shadow: 0 0 10px rgba(255, 193, 7, 0.5);
    }
}

.input {
    border: 1px solid $border-inversion;
    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: $background-inversion;
    &_accent {
        background: $background-inversion;
        border: 1px solid $accent;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
}

.button_hover {
   box-shadow: 0 0 10px rgba(255, 193, 7, 0.5);
}

.main__arrow-up {
    position: fixed;
    right: 30px;
    bottom: 45px;
    z-index: 1000;
    display: block;
    width: 50px;
    height: 50px;
    background-color: $accent;
    &::before {
        content: url(../img/footer/arrowUp.png);
        display: block;
        margin-left: 12px;
        margin-top: 12px;
    }
    &:hover {
    box-shadow: 0 0 10px rgba(255, 193, 7, 0.5);
    }
}