.main {
    padding-top: 249px;
    // height: 916px;
    &__title {
    }
    &__button-send {
        width: 370px;
        height: 74px;
        margin-top: 32px;
        margin-bottom: 334.6px;
    }
    &__background {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
    }
}
.text {
    &_title {
        font-family: Kontora-Bold, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.11em;
        line-height: 1.6;
        font-size: rem(46);
    }
    &_line::after {
        content: url(../img/advantages/line.webp);
        // display: inline-block;
        position: absolute;
        bottom: 12px;
    }
    &_sub {
        font-size: rem(36);
    }
    &_number {
        color: rgba(33, 33, 33, 0.5);
        font-size: rem(96);
    }
    &_numbers {
        font-size: rem(96);
    }
    &_main {
        font-family: Kontora-Thin, sans-serif;
        font-size: rem(24);
        line-height: 160%;
        letter-spacing: 0.05em;
        color: $text;
    }
    &_logo {
        font-family: Kontora-Bold, sans-serif;
        font-size: rem(36);
        color: $text;
        text-transform: uppercase;
    }
    &_mini {
        font-size: rem(18);
    }
    &_accent {
        color: $accent;
    }
    &_bold {
        font-family: Kontora-bold, sans-serif;
        // font-size: rem(24);
    }
    &_half-bold {
        font-family: Kontora, sans-serif;
        // font-size: rem(24);
    }
    &_fs-m {
        font-size: rem(24);
    }
    &_uppercase {
        text-transform: uppercase;
    }
    &_accent {
        color: $accent;
    }
    &_inversion {
        color: $text-inversion;
    }
    &_link {
        color: $accent;
        &:hover {
        color: $accent;
        }
    }
}

.button-send {
    font-size: rem(24);
    background: $accent;
    border: none;
    outline: none;
    font-family: Kontora-Bold, sans-serif;
    color: $text;
    text-transform: uppercase;
    letter-spacing: 0.085em;
    height: 70px;
    &_big {
        width: 570px;
        height: 50px;
    }
    &_shadow:hover {
        box-shadow: 0 0 10px rgba(255, 193, 7, 0.5);
    }
}

.input {
    border: 1px solid $border-inversion;
    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: $background-inversion;
    &_accent {
        background: $background-inversion;
        border: 1px solid $accent;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
}