form.form#form.row(action="" method="post")
        img.form__background(src="../../../img/form/background.png", alt="alt")
        h2.form__title.text_title.text_line.col-lg-3 Оставьте заявку
        .w-100
        p.form__comment.text_main.col-lg-7 и мы свяжемся с вами в ближайшее время. <br> Заполните опросный лист или оставьте контакты
        .w-100
        a.link_accent.text_main.col(href="#") Скачать опросный лист
        .w-100
        .form__row.col-lg-6
            input.input.form__input.col.form-control(placeholder="Имя*")
            input.input.form__input.col.form-control.phone_mask(placeholder="Телефон*" type="tel")
            input.input.form__input.col#inputEmail4.form-control(placeholder="Email", type="email")
            .form__input.form
                include ../../components/checkbox/checkbox.pug
                //- label.text_main.text_mini.label_whithe(for="") Согласие на обработку персональных данных
                //- input.input.form__checkbox(type="checkbox", name="")
        .form__row.col-lg-6
            textarea(type="").input.form__input.col.form__input_big.form-control(placeholder="Комментарий*")
            button.form__input.button-send_lite.col.text_main.text_orange#exampleFormControlFile1.form-control-file(type='file') Прикрепить файл
            //- input.form__input.button-send_lite.col.text_main.text_orange#exampleFormControlFile1.form-control-file(type='file') 
            button.button-send.button-send_big.form__button.button-send_shadow Отправить

