.form {
    color: $text-inversion;
    margin-bottom: 85px;
    &__background {
        position: absolute;
        z-index: -1;
        left: 0;
    }
    &__title {
        margin-top: 80px;
    }
    &__comment {
        color: inherit;
    }
    &__input {
        margin-top: 39px;
        height: 50px;
        color: $text-inversion;
        
    }
    &__input:focus {
        border-color: $accent;
    }

    &__input::placeholder {
        font-family: Kontora-Thin, sans-serif;
        font-size: rem(18);
        line-height: 38px;
        letter-spacing: 0.05em;
        color: $text-inversion;
    }
    &__row {
        margin-top: -4px;
    }

    &__input_big {
        height: 139px;
    }
    &__button {
        margin-top: 39px;
    }
    &__checkbox {
        margin-right: 21px;
        margin-bottom: 7px;
    }
    &__textarea {
        height: 140px !important;
    }
}

.link {
    &_accent {
        color: $link-accent;
    }
}

.label_whithe {
    color: inherit;
}

.form-control:focus {
    box-shadow: 0 0 0 0.05rem rgba(255, 193, 7, 1);
}

.form-control {
    border-radius: 0;
}