section.stages.row
    h2.text_title.text_line.col-lg-6 Этап производства
    .w-100
    .stages__icon
        img(src="../../../img/stages/orange-dote.png", alt="alt")
        img.black-dote(src="../../../img/stages/black-dote.png", alt="alt")