section.stages.row
    h2.text_title.text_line.col-lg-6 Этап производства
    .w-100
    .stages__icon.col-lg-1
        img.black-dote(src="../../../img/stages/line.jpg", alt="alt")
    .stages__content.col-lg-11
        h3.text_title.text_sub Техническое задание
        p.text_main Оставьте заявку на сайте или по телефону, которая включает в себя техническое
          |задание содержащее требование к пресс-форме, прототип изделия, чертеж, эскиз или 3D-модель.
        h3.text_title.text_sub Техническое задание
        p.text_main Оставьте заявку на сайте или по телефону, которая включает в себя техническое
          |задание содержащее требование к пресс-форме, прототип изделия, чертеж, эскиз или 3D-модель.
        h3.text_title.text_sub Техническое задание
        p.text_main Оставьте заявку на сайте или по телефону, которая включает в себя техническое
          |задание содержащее требование к пресс-форме, прототип изделия, чертеж, эскиз или 3D-модель.
        h3.text_title.text_sub Техническое задание
        p.text_main Оставьте заявку на сайте или по телефону, которая включает в себя техническое
          |задание содержащее требование к пресс-форме, прототип изделия, чертеж, эскиз или 3D-модель.
        h3.text_title.text_sub Техническое задание
        p.text_main Оставьте заявку на сайте или по телефону, которая включает в себя техническое
          |задание содержащее требование к пресс-форме, прототип изделия, чертеж, эскиз или 3D-модель.
        h3.text_title.text_sub Техническое задание
        p.text_main Оставьте заявку на сайте или по телефону, которая включает в себя техническое
          |задание содержащее требование к пресс-форме, прототип изделия, чертеж, эскиз или 3D-модель.