section.stages#stages.row
    h2.text_title.text_line.col-lg-6 Этапы <br> производства
    .stages__slider.owl-carousel.owl-theme
        .stages__item.col
            h3.text_title.text_sub Обсуждение технического задания
            p.text_main Оставьте заявку на сайте или по телефону. Приложите техническое задание содержащее требование к пресс-форме, прототип изделия, чертеж, эскиз или 3D-модель
        .stages__item.col
            h3.text_title.text_sub Коммерческое предложение
            p.text_main После согласования технического задания на проектирование пресс-формы. Мы вышлем коммерческое предложение с расчётом базовой стоимости и сроков работ <br>
                a.text_link(href!="<?php bloginfo('template_url');?>/files/Пример комерческого предложения.pdf" download="") Cкачать пример
        .stages__item.col
            h3.text_title.text_sub Проектирование
            p.text_main Строится сборочная 3D модель пресс-формы, продумывается технология производства, разрабатываются управляющие программы для станков с ЧПУ, закупается металл и элементы формы
        .stages__item.col
            h3.text_title.text_sub Изготовление
            p.text_main Комплекс металлообрабатывающих работ - фрезерные, шлифовальные, термообрабатывающие, электроэрозионные проволочные и прошивные операции. Слесарные работы и сборка пресс-формы
        .stages__item.col
            h3.text_title.text_sub Испытания
            p.text_main Испытание в реальных условиях на вашем оборудование. Получение первых образцов отливки. Оценка качества готового изделия
        .stages__item.col
            h3.text_title.text_sub Доводка
            p.text_main Доработка пресс-формы, внесение правок в конструкцию и технологический процесс литья
    .w-100
    .stages__content.col-lg-5.stages__row-1
        .stages__item
            h3.text_title.text_sub Обсуждение технического задания
            p.text_main Оставьте заявку на сайте или по телефону. Приложите техническое задание содержащее требование к пресс-форме, прототип изделия, чертеж, эскиз или 3D-модель
        .stages__item
            h3.text_title.text_sub Проектирование
            p.text_main Строится сборочная 3D модель пресс-формы, продумывается технология производства, разрабатываются управляющие программы для станков с ЧПУ, закупается металл и элементы формы
        .stages__item
            h3.text_title.text_sub Испытания
            p.text_main Испытание в реальных условиях на вашем оборудование. Получение первых образцов отливки. Оценка качества готового изделия
    .stages__icon.col-lg-2
            .stages__icon-dot-accent.stages__1
                .stages__icon-dot-black
            .stages__icon-line-black
            .stages__icon-dot-accent.stages__2
                .stages__icon-dot-black
            .stages__icon-line-black
            .stages__icon-dot-accent.stages__3
                .stages__icon-dot-black
            .stages__icon-line-black
            .stages__icon-dot-accent.stages__4
                .stages__icon-dot-black
            .stages__icon-line-black
            .stages__icon-dot-accent.stages__5
                .stages__icon-dot-black
            .stages__icon-line-black
            .stages__icon-dot-accent.stages__6
                .stages__icon-dot-black
            //- .stages__icon-line-black
    .stages__content.col-lg-5.stages__row-2
        .stages__item
            h3.text_title.text_sub Коммерческое предложение
            p.text_main После согласования технического задания на проектирование пресс-формы. Мы вышлем коммерческое предложение с расчётом базовой стоимости и сроков работ <br>
                a.text_link(href!="<?php bloginfo('template_url');?>/files/Пример комерческого предложения.pdf" download="") Cкачать пример
        .stages__item
            h3.text_title.text_sub Изготовление
            p.text_main Комплекс металлообрабатывающих работ - фрезерные, шлифовальные, термообрабатывающие, электроэрозионные проволочные и прошивные операции. Слесарные работы и сборка пресс-формы
        .stages__item
            h3.text_title.text_sub Доводка
            p.text_main Доработка пресс-формы, внесение правок в конструкцию и технологический процесс литья