section.make#make.row
    h2.text_title.text_line.col-lg-6 Наше производство
    .w-100
    .make__text.col-lg-4
        h3.text_title.text_sub Фрезерный участок
        p.text_main  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est dui, dolor diam lorem arcu. Aliquam varius maecenas odio vehicula. Non, turpis non eu sit. Justo, non non habitant faucibus pretium. In egestas sed scelerisque lacus bibendum felis nunc arcu. Lobortis a donec tristique arcu interdum in eu. Lacus, convallis eu integer duis senectus.
    .make__slider.offset-1.col-lg-7
        include ../../components/slider-hover/slider-hover.pug
    .make__slider.col-lg-7
        include ../../components/slider-hover/slider-hover.pug
    .make__text.col-lg-4.offset-1
        h3.text_title.text_sub Электро- <br> эрозионный участок
        p.text_main  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est dui, dolor diam lorem arcu. Aliquam varius maecenas odio vehicula. Non, turpis non eu sit. Justo, non non habitant faucibus pretium. In egestas sed scelerisque lacus bibendum felis nunc arcu. Lobortis a donec tristique arcu interdum in eu. Lacus, convallis eu integer duis senectus.
    .make__text.col-lg-4
        h3.text_title.text_sub Слесарный участок
        p.text_main#make-scroll  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est dui, dolor diam lorem arcu. Aliquam varius maecenas odio vehicula. Non, turpis non eu sit. Justo, non non habitant faucibus pretium. In egestas sed scelerisque lacus bibendum felis nunc arcu. Lobortis a donec tristique arcu interdum in eu. Lacus, convallis eu integer duis senectus.
    .make__slider.offset-1.col-lg-7
        include ../../components/slider-hover/slider-hover.pug