section.make#make.row
    h2.text_title.text_line.col-lg-6 Наше <br> производство
    .w-100
    .row
        .make__text.col-xl-4.col
            h3.text_title.text_sub.col Фрезерный участок
            p.text_main.col  Это самый загруженный участок производства. Здесь рабочие трудятся в две смены. Механическая обработка комплектующих пресс-формы, а также изготовление электродов для электроэрозии – зона ответственности фрезерного участка. В день выпускается от 10 до 30 единиц продукции
        .make__slider.offset-1.col-xl-7.col
            .owl-carousel.slider-hover.slider-hover__mill
                .slider-hover__info
                    img.slider-hover__img(src!="<?php bloginfo('template_url');?>/img/make/mill/mcv300.jpg", alt="alt")
                    .slider-hover__text.slider-hover__mill-text
                        h4.text_main.text_half-bold Вертикальны обрабатывающий центр MCV-300
                        p.text_main.text_mini Ход по осям - X 610 мм, Y 305 мм, Z 460 мм <br> Скорость шпинделя - 10‘000 об/мин <br> Система ЧПУ - Fanuc
                .slider-hover__info
                    img.slider-hover__img(src!="<?php bloginfo('template_url');?>/img/make/mill/IMG_2884.jpg", alt="alt")
                    .slider-hover__text.slider-hover__mill-text
                        h4.text_main.text_half-bold Это заголовок 2
                        p.text_main.text_mini Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ea assumenda debitis sapiente dolorum enim corrupti et?
                .slider-hover__info
                    img.slider-hover__img(src!="<?php bloginfo('template_url');?>/img/make/mill/IMG_2939.jpg", alt="alt")
                    .slider-hover__text.slider-hover__mill-text
                        h4.text_main.text_half-bold Это заголовок 3
                        p.text_main.text_mini Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ea assumenda debitis sapiente dolorum enim corrupti et?
    .row.flex-wrap-reverse
        .make__slider.col-xl-7.col
            .owl-carousel.slider-hover.slider-hover__elec
                .slider-hover__info
                    img.slider-hover__img(src!="<?php bloginfo('template_url');?>/img/make/elec/IMG_2759.webp", alt="alt")
                    .slider-hover__text.slider-hover__elec-text
                        h4.text_main.text_half-bold Электроэрозионный проволочно-вырезной станок Excetek v350 
                        p.text_main.text_mini 5 осей, управляемых серво двигателями <br>  Максимальный угол резания - 26 градусов / 80 мм
                .slider-hover__info
                    img.slider-hover__img(src!="<?php bloginfo('template_url');?>/img/make/elec/IMG_2755.webp", alt="alt")
                    .slider-hover__text.slider-hover__elec-text
                        h4.text_main.text_half-bold Электроэрозионный копировально-прошивной станок AgieCharmilles Form 20 
                        p.text_main.text_mini Наилучшая шероховатость - Ra 0.1 Макс. <br> Cкорость съема материала - мм3/мин 800
                .slider-hover__info
                    img.slider-hover__img(src!="<?php bloginfo('template_url');?>/img/make/elec/IMG_2817.webp", alt="alt")
                    .slider-hover__text.slider-hover__elec-text
                        h4.text_main.text_half-bold Супердрель AgieCharmiles Drill 20
                        p.text_main.text_mini Ход осей X, Y, Z мм - 300 x 200 x 300 <br> Максимальная глубина сверления 200 мм
                .slider-hover__info
                    img.slider-hover__img(src!="<?php bloginfo('template_url');?>/img/make/elec/IMG_2879.webp", alt="alt")
                    .slider-hover__text.slider-hover__elec-text
                        h4.text_main.text_half-bold Формообразующая поверхность пресс-формы
                        p.text_main.text_mini Изготовлено на AgieCharmilles Form 20
                img.slider-hover__img(src!="<?php bloginfo('template_url');?>/img/make/elec/IMG_2920.webp", alt="alt")
                img.slider-hover__img(src!="<?php bloginfo('template_url');?>/img/make/elec/IMG_2768.webp", alt="alt")
                img.slider-hover__img(src!="<?php bloginfo('template_url');?>/img/make/elec/IMG_2758.webp", alt="alt")
        .make__text.col-xl-4.offset-1.col
            h3.text_title.text_sub.col Электро- <br> эрозионный участок
            p.text_main.col На данном участке решают следующие задачи: прожиг формообразующей поверхности пресс-формы, обработка металлов высокой твердости, производство вставок, знаков, обрабокта конических поверхностей.

    .row
        .make__text.col-xl-4.col
            h3.text_title.text_sub.col Слесарный участок
            p.text_main#make-scroll.col  Здесь выполняются шлифовальные, сверлильные работы, доводочные работы. А также производится сборка и упаковка пресс формы перед отправкой.

        .make__slider.offset-1.col-xl-7.col
            .owl-carousel.slider-hover.slider-hover__manual
                .slider-hover__info
                    img.slider-hover__img(src!="<?php bloginfo('template_url');?>/img/make/manual/IMG_2803.webp", alt="alt")
                    .slider-hover__text.slider-hover__manual-text
                        //- h4.text_main.text_half-bold Это заголовок 7
                        //- p.text_main.text_mini Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ea assumenda debitis sapiente dolorum enim corrupti et?
                .slider-hover__info
                    img.slider-hover__img(src!="<?php bloginfo('template_url');?>/img/make/manual/IMG_2827.webp", alt="alt")
                    .slider-hover__text.slider-hover__manual-text
                        //- h4.text_main.text_half-bold Это заголовок 8
                        //- p.text_main.text_mini Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ea assumenda debitis sapiente dolorum enim corrupti et?
                .slider-hover__info
                    img.slider-hover__img(src!="<?php bloginfo('template_url');?>/img/make/manual/IMG_2869.webp", alt="alt")
                    .slider-hover__text.slider-hover__manual-text
                        //- h4.text_main.text_half-bold Это заголовок 9
                        //- p.text_main.text_mini Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ea assumenda debitis sapiente dolorum enim corrupti et?
                img.slider-hover__img(src!="<?php bloginfo('template_url');?>/img/make/manual/IMG_2844.webp", alt="alt")
                img.slider-hover__img(src!="<?php bloginfo('template_url');?>/img/make/manual/IMG_2853.webp", alt="alt")
                img.slider-hover__img(src!="<?php bloginfo('template_url');?>/img/make/manual/IMG_2810.webp", alt="alt")
                img.slider-hover__img(src!="<?php bloginfo('template_url');?>/img/make/manual/IMG_2809.webp", alt="alt")