section.examples#examples.row
    h2.examples__title.text_title.text_sub.col-xl-6 Галерея работ
    .w-100
    //- добавить больше примеров работ на страницу
    .col-lg-6.examples__smale-wrapper.row.p-0.m-0.text_main.text_mini
        .col-lg-6.examples_smale.mb-15#examples-8
            //- .examples__info-2.examples__info_smale
            //-     p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit
        .col-lg-6.examples_smale.mb-15#examples-9
            //- .examples__info-3.examples__info_smale
            //-     p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit
        .col-lg-6.examples_smale.mt-15#examples-4
            //- .examples__info-4.examples__info_smale
            //-     p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit
        .col-lg-6.examples_smale.mt-15#examples-1
            //- .examples__info-4.examples__info_smale
            //-     p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit
    .col-lg-6.examples_big#examples-6
        //- .examples__info-1.examples__info-big.text_main
        //-     p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id cursus vel, sit quam in at curabitur.

    .w-100.mt-15
    .col-xl-6.examples_big#examples-7
        //- .examples__info-1.examples__info-big.text_main
            p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id cursus vel, sit quam in at curabitur.
    .col-xl-6.examples__smale-wrapper.row.m-0.p-0.text_main.text_mini
        .col-6.examples_smale.mb-15#examples-2
            //- .examples__info-2.examples__info_smale
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit
        .col-6.examples_smale.mb-15#examples-3
            //- .examples__info-3.examples__info_smale
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit
        .col-6.examples_smale.mt-15#examples-5
            //- .examples__info-4.examples__info_smale
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit      
        .col-6.mt-15.examples__see-all
                h4.examples__see-all-title.text_title.text_bold.text_fs-m Посмотрите <br> другие <br>  проекты
                span.examples__arr-right
                    img(src!="<?php bloginfo('template_url');?>/img/examples/ArrowRight.png", alt="стрелка вправо")