section.examples.row
    .examples__col.col-lg-4.align-items-end
        h2.text_title.text_line.examples__title Примеры работ
        .examples__photo.examples__photo_col1
            img(src="../../../img/examples/IMG_2909.jpg", alt="alt")
    .examples__col.col-lg-4
        .examples__photo
            img(src="../../../img/examples/IMG_2876.jpg", alt="alt")
            img(src="../../../img/examples/IMG_2955.jpg", alt="alt")
    .examples__col.col-lg-4
        .examples__photo
            img(src="../../../img/examples/IMG_2882.jpg", alt="alt")
            img(src="../../../img/examples/IMG_2921.jpg", alt="alt")
        .slider__icon.examples__slider-icon
            img.slider__svg(src="../../../img/advantages/Arrow.svg", alt="alt")