.examples {
    padding-top: 100px;
    &__title {
        margin-bottom: 40px;
    }
    &_smale {
        // margin-top: 30px;
        background-image: url(../img/examples/IMG_2909.webp);
        background-size: cover;
        background-clip: content-box;
        background-repeat: no-repeat;
    }
      &_big {
        // margin-top: 30px;
        height: 570px;
        background-image: url(../img/examples/IMG_2876.webp);
        background-size: cover;
        background-clip: content-box;
        background-repeat: no-repeat;
        // &:hover .examples__info-big{
        //     opacity: 1;
        // }
    }
    &_big, &_smale, &__see-all:hover {
        cursor: pointer;
    }

    &__see-all {
        background: $accent;
        background-clip: content-box;
        &:hover {
            transform: scale(1.02);
            transition: transform ease-in 0.2s;
        }
    }
    &__see-all-title {
        position: absolute;
        margin-top: 20px;
        margin-left: 29px;

    }
    &__arr-right {
        display: block;
        position: absolute;
        right: 38px;
        bottom: 16px;
        width: 24px;
        height: 38px;
    }
    &__arr-right > img {
        display: block;
        margin-top: 10px;
    }
    &__info-1, &__info-2, &__info-3, &__info-4 {
        background: $accent;
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        width: 95%;
        height: 33%;
        margin-left: 15px;
        line-height: 1.3;
        display: none;
        & > p {
            padding: 4% 5%;
            margin: 0;
            // transition: opacity .25s ease-in-out;
        }
    }
    &__info_smale {
        width: 90%;
    }
}
