.examples {
    margin-top: 90px;
    &__title {
        margin-bottom: 40px;
    }
    &_smale {
        // margin-top: 30px;
        background-image: url(../img/examples/IMG_2909.webp);
        background-size: cover;
        background-clip: content-box;
        background-repeat: no-repeat;
    }
      &_big {
        // margin-top: 30px;
        height: 570px;
        background-image: url(../img/examples/IMG_2876.webp);
        background-size: cover;
        background-clip: content-box;
        background-repeat: no-repeat;
    }
    &__info, &__see-all:hover {
        cursor: pointer;
    }

    &__see-all {
        background: $accent;
        background-clip: content-box;
    }
    &__see-all-title {
        position: absolute;
        margin-top: 20px;
        margin-left: 29px;
    }
    &__arr-right {
        display: block;
        position: absolute;
        right: 38px;
        bottom: 16px;
        width: 24px;
        height: 38px;
    }
    &__arr-right > img {
        display: block;
        margin-top: 10px;
    }
    &__info {
        // background: $accent;
        background: linear-gradient(0deg, rgba(255,193,7,1) 0%, rgba(255,193,7,0) 100%);
        position: absolute;
        top: 30px;
        left: 50%;
        margin-left: -35%;
        width: 70%;
        height: 78%;
        opacity: 0;
        transition: opacity .25s ease-in-out;
        & > p {
            position: absolute;
            bottom: 0;
            left: 0;
            padding-left: 11px;
        }
        &:hover {
            opacity: 1;
        }
    }
    &__info-big {
        left: 50%;
        width: 84%;
        height: 90%;
        margin-left: -42%;
    }

}



