section.examples#examples.row
    h2.examples__title.text_title.text_sub.col-lg-6 Галерея работ
    .w-100
    .col-lg-6.examples__smale-wrapper.row.p-0.m-0
        .col-lg-6.examples_smale.mb-15
            a(href="../../../img/slider-img/IMG_2756.webp" data-fresco-group="unique_name").fresco
                .examples__info
                    P.text_main.text_mini Пресс-форма для компании Coca-Cola
        .col-lg-6.examples_smale.mb-15
            .examples__info
        .col-lg-6.examples_smale.mt-15
            .examples__info
        .col-lg-6.examples_smale.mt-15
            .examples__info
    .col-lg-6.examples_big
        .examples__info.examples__info-big
    .w-100.mt-15
    .w-100.mb-15
    .col-lg-6.examples_big
        .examples__info.examples__info-big
    .col-lg-6.examples__smale-wrapper.row.p-0.m-0
        .col-lg-6.examples_smale.mb-15
            .examples__info
        .col-lg-6.examples_smale.mb-15
            .examples__info
        .col-lg-6.examples_smale.mt-15
            .examples__info
        .col-lg-6.mt-15.examples__see-all
            h4.examples__see-all-title.text_title.text_bold.text_fs-m Посмотрите другие <br>  проекты
            span.examples__arr-right
                img(src="./img/examples/ArrowRight.png", alt="")

//- img(src="../../../img/examples/IMG_2909.jpg", alt="alt")
//- img(src="../../../img/examples/IMG_2876.jpg", alt="alt")
//- img(src="../../../img/examples/IMG_2955.jpg", alt="alt")
//- img(src="../../../img/examples/IMG_2882.jpg", alt="alt")
//- img(src="../../../img/examples/IMG_2921.jpg", alt="alt")