section.examples#examples.row
    h2.examples__title.text_title.text_sub.col-lg-6 Галерея работ
    .w-100
    //- .col-lg-6.examples__smale-wrapper.row.p-0.m-0.text_main.text_mini
    //-     .col-lg-6.examples_smale.mb-15#examples-2
    //-         .examples__info-2.examples__info_smale
    //-             p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit
    //-     .col-lg-6.examples_smale.mb-15#examples-3
    //-         .examples__info-3.examples__info_smale
    //-             p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit
    //-     .col-lg-6.examples_smale.mt-15#examples-4
    //-         .examples__info-4.examples__info_smale
    //-             p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit
    //-     .col-lg-6.examples_smale.mt-15#examples-4
    //-         .examples__info-4.examples__info_smale
    //-             p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit
    //- .col-lg-6.examples_big#examples-1
    //-     .examples__info-1.examples__info-big.text_main
    //-         p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id cursus vel, sit quam in at curabitur.

    //- .w-100.mt-15
    .col-lg-6.examples_big#examples-1
        .examples__info-1.examples__info-big.text_main
            p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id cursus vel, sit quam in at curabitur.
    .col-lg-6.examples__smale-wrapper.row.p-0.m-0.text_main.text_mini
        .col-lg-6.examples_smale.mb-15#examples-2
            .examples__info-2.examples__info_smale
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit
        .col-lg-6.examples_smale.mb-15#examples-3
            .examples__info-3.examples__info_smale
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit
        .col-lg-6.examples_smale.mt-15#examples-4
            .examples__info-4.examples__info_smale
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit
        .col-lg-6.mt-15.examples__see-all
                h4.examples__see-all-title.text_title.text_bold.text_fs-m Посмотрите другие <br>  проекты
                span.examples__arr-right
                    img(src="./img/examples/ArrowRight.webp", alt="")

//- img(src="../../../img/examples/IMG_2909.jpg", alt="alt")
//- img(src="../../../img/examples/IMG_2876.jpg", alt="alt")
//- img(src="../../../img/examples/IMG_2955.jpg", alt="alt")
//- img(src="../../../img/examples/IMG_2882.jpg", alt="alt")
//- img(src="../../../img/examples/IMG_2921.jpg", alt="alt")