.request {
    margin-top: 100px;
    height: 215px;
    &__background {
        position: absolute;
        left: 0;
        background-color: $background-inversion;
        background-image: url(../../../img/numbers/line.png);
        background-repeat: no-repeat;
        // background-position: left;
        width: 100%;
        height: 215px;
    }
    &__button-send {
        height: 70px;
        margin: auto;
    }
    &__img {
        position: absolute;
        z-index: -1;
        left: 0;
    }
}
