.container-fluid
    section.request.row.no-gutters
        button.button-send.request__button-send.col-lg-4 Оставить заявку
        img.request__img(src="../../../img/request/black.png", alt="alt")
        img.request__img(src="../../../img/request/dangeres.jpg", alt="alt")



