section.request#request.row
    .request__background
    //- a.col.button-send__modal(href="#openModal") Открыть модальное окно
    button.button-send.button-send__modal.request__button-send.button-send_shadow Оставить заявку

.popup-fade.popup-fade-button-send
    form.modalDialog.form#form_modal(type="submit" method="post")
        .modal-guts.row
            a.close-modal.close(title="Закрыть")
                .icon_close
                    span.line1
                    span.line2
            h2.text_title.text_line.col-lg-12.col-6 Оставьте заявку
            .w-100
            p.text_main.col-lg-12 и мы свяжемся с вами в ближайшее время. <br> Заполните опросный лист или оставьте контакты
            a.text_link.link_accent.text_main(href="#").col-lg-12 Скачать опросный лист
            .form__row.col-md
                input.input.form__input.form-control.only_letters(placeholder="Имя*" required name="name")
                input.input.form__input.form-control.only_number#phone1(name="phone" placeholder="Телефон*" type="tel" minlength="11" maxlength="11" required)
                span.text_main.form__error Это поле должно содержать 11-ти значный номер телефона
                input.input.input__email.form__input#inputEmail4.form-control(name="email" placeholder="Email", type="email" required)
                span.text_main.form__error Это поле должно содержать E-Mail в формате example@site.com
                .form__input.form
                    include ../../components/checkbox/checkbox.pug
            .form__row.col-md
                textarea(name="message" type="text" placeholder="Комментарий*").input__comment.form__textarea.input.form__input.form__input_big.form-control
                .input-file.col.text_main.text_accent.form__input.input_accent
                    input.inputfile#userfile_modal(type='file', name='userfile_modal[]', data-multiple-caption='{count} files selected', multiple='', accept="image/*")
                    label(for='userfile_modal').text_accent.text_mini
                        span#span_modal Прикрепить файл
                .alert#alert_modal
                input#recaptchaResponse_modal(type='hidden', name='recaptcha_response')
                button.button-send.button-send_big.form__button.button-send_shadow.col Отправить заявку
