.input-file.col.text_main.text_accent.form__input.input_accent
	input.inputfile#userfile_modal(type='file', name='userfile_modal[]', data-multiple-caption='{count} files selected', multiple='', accept="image/*")
	label(for='userfile_modal').text_accent.text_mini
		span#span_modal Прикрепить файл


		//- name="userfile[]" multiple id="userfile" class="w100" accept="image/*"