.input-file.col.text_main.text_accent.form__input.input_accent
	input#file.inputfile(type='file', name='file', data-multiple-caption='{count} files selected', multiple='')
	label(for='file').text_accent.text_mini
		span Прикрепить файл