
.footer {
    margin-top: 80px;
    height: 140px;
    &__background {
        position: absolute;
        left: 0;
        // top: 0;
        background: $background-inversion;
        width: 100%;
        height: 140px;
    }
    &__link {
        margin-top: 27px;
    }
    &__made-in {
        text-align: right;
    }
    &__copyright {
        width: 412px;
    }
    // &__arrow-up {
    //     position: absolute;
    //     right: 30px;
    //     bottom: 45px;
    //     z-index: 1;
    //     display: block;
    //     width: 50px;
    //     height: 50px;
    //     background-color: $accent;
    //     &::before {
    //         content: url(../img/footer/arrowUp.png);
    //         display: block;
    //         margin-left: 12px;
    //         margin-top: 12px;
    //     }
    // }
}

.arrow-test {
    background-color: red;
}