footer.footer#footer.row.text_main.text_mini.text_accent
    .footer__background
    ul.footer__link.col-12
        li
            a.text_link.text_half-bold(href!="<?php bloginfo('template_url');?>/files/Карточка.pdf" download="") Получить реквизиты
        li
            a.text_link.text_half-bold(href!="<?php bloginfo('template_url');?>/files/Политика конфиденциальности.pdf" download="") Политика конфидициальности
    p.footer__copyright.col-xl.col-lg-12 © ООО “Проинтех” 2019. Все права защищены
    .footer__made-in.col-xl.col-lg-12
        //- a.text_link(href="#") Сделано в Snoogans
    //- a.menu__main(href = '#main')
    //-     span.footer__arrow-up