section.footer.row
    .col-1.footer__blok
    .col-1.footer__blok
    .col-1.footer__blok
    .col-1.footer__blok
    .col-1.footer__blok
    .col-1.footer__blok
    .col-1.footer__blok
    .col-1.footer__blok
    .col-1.footer__blok
    .col-1.footer__blok
    .col-1.footer__blok
    .col-1.footer__blok