footer.footer#footer.row.text_main.text_mini.text_accent
    .footer__background
    ul.footer__link.col-12
        li
            a.text_link.text_half-bold(href="#") Получить реквизиты
        li
            a.text_link.text_half-bold(href="#") Политика конфидициальности
    p.footer__copyright.col © ООО “Проинтех” 2019. Все права защищены
    .footer__made-in.col
         a.text_link(href="#") Сделано в Snoogans