footer.footer#footer.row
    .logo.footer__logo.col-lg-1
        img.logo__img(src="../img/header/logo.png", alt="логотип")
    span.text_logo.col Проинтех
    .w-100
    p.offset-1.col © 2018 <br> Сделано в SuperWeb



    //- footer.footer
    //- .logo.footer__logo
    //-     img.logo__img(src="../img/header/logo.png", alt="логотип")
    //- span.text_logo Проинтех
    //- p © 2018 <br> Сделано в SuperWeb