.container-1200px {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    
}
.container-full {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.w-100 {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    position: relative;
    overflow-x: hidden;
}

.mt-15 {
    margin-top: 15px;
}
.mb-15 {
    margin-bottom: 15px;
}
.p-0 {
    padding: 0;
}
.m-0 {
    margin: 0;
}

.grecaptcha-badge { visibility: hidden; };