section#service.service.text_main.text_mini
            .service__header.w-100.text_center
                h2.service__title.text_title.text_line Что мы производим?
                //- p.text_main.text_secondary Мы производим  перечень из более 30 видов пресс-форм. Представляем некоторые из них.
            .service__form.col
                .service__form-wrapper
                    img(src!="<?php bloginfo('template_url');?>/img/services/5.png", alt="", srcset="")
                    h3.service__title.text_half-bold Пресс-формы для малых тиражей
                    //- ul.text_main.text_secondary
                    //-     li от 1 до 8 мест
                    //-     li Гарантийный ресурс до 300 тыс. циклов.
                    //-     li Срок изготовления 3-5 недель. 
                    //-     li Стоимость от 300 до 500 т.р.. 
                .service__form-text
                    ul
                        p.text_half-bold  Небольшие пресс-формы холодно-канального типа.
                        li От 1 до 8 мест, в том числе «семейные».
                        li Для литья ПНД, ПП, АБС - пластиков.
                        li Изготавливаются из сталей не требующих термической обработки.
                        li Срок изготовления 3-5 недель. 
                        li Гарантийный ресурс до 300 тыс. циклов.
                        li Стоимость от 300 до 500 т. р.
            .service__form.col
                .service__form-wrapper
                    img(src!="<?php bloginfo('template_url');?>/img/services/6.png", alt="", srcset="")
                    h3.service__title.text_half-bold Пресс-формы клиновые
                    //- ul.text_main.text_secondary
                    //-     li от 1 до 8 мест
                    //-     li Гарантийный ресурс до 300 тыс. циклов.
                    //-     li Срок изготовления 3-5 недель. 
                    //-     li Стоимость от 300 до 500 т.р.. 
                .service__form-text
                    ul.text-main
                       p.text_half-bold  Пресс-формы холодно-канального типа c подвижными ползунами и косыми знаками, с механическим и гидравлическим приводом.
                       li От 1 до 16 мест.
                       li Для литья ПНД, ПП, АБС - пластиков.
                       li Подвижные элементы подвергаются термической обработке.
                       li Срок изготовления 8-10 недель.
                       li Гарантийный ресурс до 1000 тыс. циклов.
                       li Стоимость от 500 до 1000 т.р. 
            .service__form.col
                .service__form-wrapper
                    img(src!="<?php bloginfo('template_url');?>/img/services/2.png", alt="", srcset="")
                    h3.service__title.text_half-bold Пресс-формы «этажные»
                    //- ul.text_main.text_secondary
                    //-     li от 1 до 8 мест
                    //-     li Гарантийный ресурс до 300 тыс. циклов.
                    //-     li Срок изготовления 3-5 недель. 
                    //-     li Стоимость от 300 до 500 т.р.. 
                .service__form-text
                    ul.text-main
                        p.text_half-bold   Пресс-формы холодно-канального типа с точечным, отрывным литником, с несколькими плоскостями разъема.
                        li  От 2 до 16 мест.
                        li  для литья ПНД, ПП, АБС - пластиков.
                        li  Все формообразующие элементы и механизмы подвергаются термической обработке.
                        li  Срок изготовления 8-12 недель. 
                        li  Гарантийный ресурс до 1000 тыс. циклов.
                        li  Стоимость от 600 до 1500 т.р. 
            .service__form.col
                .service__form-wrapper
                    img(src!="<?php bloginfo('template_url');?>/img/services/4.png", alt="", srcset="")
                    h3.service__title.text_half-bold Пресс-формы многоместные
                    //- ul.text_main.text_secondary
                    //-     li от 1 до 8 мест
                    //-     li Гарантийный ресурс до 300 тыс. циклов.
                    //-     li Срок изготовления 3-5 недель. 
                    //-     li Стоимость от 300 до 500 т.р.. 
                .service__form-text
                    ul.text-main
                        p.text_half-bold   Пресс-формы многоместные холодно-канальные, с тоннельным литником. Возможна профильная линия разъема.
                        li  От 8 до 24 мест. 
                        li  Для литья ПНД, ПП, АБС- пластиков, ПА (в том числе стеклонаполненного).
                        li  Все формообразующие элементы и механизмы подвергаются термической обработке.  
                        li  Срок изготовления 10-12 недель. 
                        li  Гарантийный ресурс до 1500 тыс. циклов.
                        li  Стоимость от 800 до 1500 т.р. 
            .service__form.col
                .service__form-wrapper
                    img(src!="<?php bloginfo('template_url');?>/img/services/3.png", alt="", srcset="")
                    h3.service__title.text_half-bold Пресс-формы горяче-канальные.
                    //- ul.text_main.text_secondary
                    //-     li от 1 до 8 мест
                    //-     li Гарантийный ресурс до 300 тыс. циклов.
                    //-     li Срок изготовления 3-5 недель. 
                    //-     li Стоимость от 300 до 500 т.р.. 
                .service__form-text
                    ul.text-main
                        p.text_half-bold   Пресс-формы горяче-канальные, с непосредственным впрыском в отливку (так же комбинированный впрыск). Возможен впрыск как перпендикулярно, так и параллельно плоскости разъема. 
                        li  От 8 до 32 мест.
                        li  Для литья ПНД, ПП, АБС- пластиков, ПА (в том числе стеклонаполненного), и инженерных пластиков (PFS, PEEK). 
                        li  Все формообразующие элементы и механизмы подвергаются термической обработке.  
                        li  Срок изготовления 12-16 недель. 
                        li  Гарантийный ресурс до 2000 тыс. циклов.
                        li  Стоимость от 1000 до 3000 т.р. 
            .service__form.col
                .service__form-wrapper
                    img(src!="<?php bloginfo('template_url');?>/img/services/1.png", alt="", srcset="")
                    h3.service__title.text_half-bold Пресс-формы механизированные и с выкручиванием.
                    //- ul.text_main.text_secondary
                    //-     li от 1 до 8 мест
                    //-     li Гарантийный ресурс до 300 тыс. циклов.
                    //-     li Срок изготовления 3-5 недель. 
                    //-     li Стоимость от 300 до 500 т.р.. 
                .service__form-text
                    ul.text-main
                        p.text_half-bold  Пресс-формы горяче-канальные, с непосредственным впрыском в отливку (так же комбинированный впрыск). С использыванием сложн кинематические схемы движения формующих элементов, в том числе на серводвигателях (точность позиционирования 0,005 мм). 
                        li  От 4 до 24 мест. 
                        li  Для литья ПНД, ПП, АБС- пластиков, ПА (в том числе стеклонаполненного). 
                        li  Все формообразующие элементы и механизмы подвергаются термической обработке.  
                        li  Срок изготовления 14-18 недель. 
                        li  Гарантийный ресурс до 3000 тыс. циклов.
                        li  Стоимость от 2000 до 6000 т.р. 







            //- .service__form.col
            //-     img(src!="<?php bloginfo('template_url');?>/img/services/6.png", alt="", srcset="")
            //-     p.service__title.text-main.text_half-bold Пресс-форма какого-то определенного типа
            //-     p.text_main.text_secondary Описание, характеристики, стоимость, сроки изготовления
            //- .service__form.col
            //-     img(src!="<?php bloginfo('template_url');?>/img/services/2.png", alt="", srcset="")
            //-     p.service__title.text-main.text_half-bold Пресс-форма какого-то определенного типа
            //-     p.text_main.text_secondary Описание, характеристики, стоимость, сроки изготовления
            //- .service__form.col
            //-     img(src!="<?php bloginfo('template_url');?>/img/services/4.png", alt="", srcset="")
            //-     p.service__title.text-main.text_half-bold Пресс-форма какого-то определенного типа
            //-     p.text_main.text_secondary Описание, характеристики, стоимость, сроки изготовления
            //- .service__form.col
            //-     img(src!="<?php bloginfo('template_url');?>/img/services/3.png", alt="", srcset="")
            //-     p.service__title Пресс-форма какого-то определенного типа
            //-     p.text_main.text_secondary Описание, характеристики, стоимость, сроки изготовления
            //- .service__form.col
            //-     img(src!="<?php bloginfo('template_url');?>/img/services/1.png", alt="", srcset="")
            //-     p.service__title Пресс-форма какого-то определенного типа
            //-     p.text_main.text_secondary Описание, характеристики, стоимость, сроки изготовления